.button-nav > img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: none;
    padding-top: 27px;
}

/* .nav-item {
    color: #6c6c6c;
    font-family: 'Open Sans';
    font-size: 20px;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.nav > a {
    padding-right: 20px;
    padding-top: 40px;
} */